@charset "utf-8";

html{
    font-family: 'M PLUS 1p', sans-serif;
font-family: 'Zen Maru Gothic', sans-serif;
}

.body_p{
    padding-left: 100px;
    padding-right: 100px;
}

.header{
    background-color: black;
    display: flex;
    justify-content: flex-end; /* 右寄せ */
    align-items: center; /* 縦方向の中央揃え */
    padding: 20px
}

.header__menu{
    display: flex;
    justify-content: flex-end;    
    padding: 10px;
    font-family: 'Jomhuria';
    font-size: 80px;
    color: #ffffff;
}

.header__menu li {
    margin-right: 40px; /* メニュー項目の間隔を設定 */
}

.first_view img {
    width: 100%;
    height: auto;
}

.headline{
    color: aqua;
    font-size: 50px;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.howto{
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
}

.howto_s{
    font-size: 30px;
    line-height: 70px;
    width: auto;
}

.howto_picture{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.about_kyotai{
    width: 200px;
    display: block;
    margin: 0 auto;
}

.about_kyotai img{
    width: 100%;
    height: auto;
}

.about_play{
    display: block;
    margin: 0 auto;
    width: 100%;
}

.detail_inner_head{
    font-size: 40px;
}

.detail_inner_body{
    font-size: 20px;
    line-height: 60px;
}

.charm_play{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
    text-align: center;
}

.playvideo{
    display: block;
    width: 70%;  
}

.charm_mv{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.mv{
    display: block;
    width: 50%; 
}

.charm_music{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
    text-align: center;
    padding-left: 100px;
}

.tumugi{
    display: block;
    width: 50%; 
}

.start{
    font-size: 30px;
}
.advice_head{
    font-size: 50px;
    background-color: rgb(200, 149, 247);
    text-align: center;
}
.advice_body{
    font-size: 30px;
    text-align: center;
}